h1 {
    color: red;
    background: gray;
}
h2 {
    color: green;
    background: yellow;
}

.paragraph-1 {
    color: blue;
    background-color: aqua;
    font-size: 32pt;
    font-family: 'Times New Roman', Times, serif;
}

.paragraph-2 {
    border: 10px solid yellow;
    border-radius: 5px;
    font-size: 24pt;
    margin-bottom: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
}

.paragraph-3 {
    font-weight: bold;
    font-size: 22px;
    font-family: Courier New;
}

.paragraph-4 {
    font-style: italic;
    font-size: 24px;
    text-align: center;
    text-shadow:  5px 5px green; 
    font-family: Courier New;
}
